<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xinfan.blueblue.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="getui.permission.GetuiService" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 自定义权限 -->
    <permission
        android:name="getui.permission.GetuiService"
        android:protectionLevel="normal" >
    </permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name=".AppstartActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Anim_style2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewpagerActivity"
            android:theme="@style/Anim_style2" >
        </activity>
        <!--
        <activity
            android:name=".Appstart"
            android:label="@string/title_activity_main"
            android:theme="@style/Anim_style2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".MainWeixin"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".LoginActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".RegisterStep2Activity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".RegisterStep1Activity"
            android:theme="@android:style/Theme.NoTitleBar" />
           <activity
            android:name=".ExitActivity"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".Whatsnew"
            android:theme="@style/Anim_style2" />
        <!-- 忘记密码 -->
        <activity
            android:name=".ForgetPasswordStep1"
            android:theme="@style/Anim_style2" />
        <!-- 重设密码 -->
        <activity
            android:name=".UpdatePasswordActivity"
            android:theme="@style/Anim_style2" />
        <!-- 重设昵称 -->
        <activity
            android:name=".UpdateNicknameActivity"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".ChatActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".ShakeActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".InfoXiaohei"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="ExitFromSettings"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name="InfoXiaoheiHead"
            android:theme="@style/HeadScale" />
        <activity
            android:name="LoadingActivity"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name="MainTopRightDialog"
            android:theme="@style/MyDialogStyleTop" />
        <activity
            android:name=".send.SendMessageActivity"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".send.RevSeeMessageActivity"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".send.SeeMessageActivity"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".send.TimeSelectActivity"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name=".send.MoneyInputActivity"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name=".send.AreaSelectActivity"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name=".rev.RevSeeMessageActivity"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".rev.RevReport"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".rev.RevAddContactActivity"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name="ThemeSetActivity"
            android:theme="@style/Anim_style2" />
        <activity
            android:name="ViewMessageActivity"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".AccountInfoActivity"
            android:theme="@style/Anim_style2" />
        <activity
            android:name="ContactInfoActivity"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".RevReport"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".SystemSetActivity"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".ComplianActivity"
            android:theme="@style/Anim_style2" />

        <!-- 系统升级 -->
        <activity
            android:name=".UpdateVersionActivity"
            android:theme="@style/MyDialogStyle" />
        <!-- 设置接收消息数量 -->
        <activity
            android:name=".systemset.MessageNumSelectActivity"
            android:theme="@style/MyDialogStyle" />
        <!-- 设置相似度 -->
        <activity
            android:name=".systemset.SimilaritySet"
            android:theme="@style/MyDialogStyle" />
        <!-- 设置有偿额度 -->
        <activity
            android:name=".systemset.PaidSet"
            android:theme="@style/MyDialogStyle" />
        <!-- 设置信誉等级 -->
        <activity
            android:name=".systemset.ReputationSet"
            android:theme="@style/MyDialogStyle" />
        <!-- 关于我们 -->
        <activity
            android:name=".systemset.AboutUs"
            android:theme="@style/MyDialogStyle" />
        <!-- 注消账号 -->
        <activity
            android:name=".AccountEscActivity"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name=".ThemeInputActivity"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".ForgetPasswordStep2"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".ThemeSetMenuActivity"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name="com.xinfan.blueblue.activity.MainActivity"
            android:screenOrientation="portrait" />

        <!-- 您的发布产品中请不要使用这个 key !!! -->
        <meta-data
            android:name="TencentMapSDK"
            android:value="EXLBZ-B7TH5-CTZIK-QNQFR-76OGO-GNFCS" />

        <!-- 个推SDK配置开始 -->
        <!-- ************************************************************* -->
        <!-- ************************************************************* -->
        <!-- ************************************************************* -->
        <!-- 配置第三方应用参数属性 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="RyxVL19P9P69Fgs7ysDsVA" /> <!-- 替换为第三方应用的APPID -->
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="P5DLl5Dvbx5I0AwnoGqPZ6" /> <!-- 替换为第三方应用的APPKEY -->
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="ijtt0xVbk78w22sna5vTn9" /> <!-- 替换为第三方应用的APPSECRET -->
        <meta-data
            android:name="PUSH_GROUPID"
            android:value="" />

        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice" >
        </service>

        <receiver android:name="com.igexin.sdk.PushReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.igexin.sdk.PushManagerReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- 配置弹框activity -->
        <activity
            android:name="com.igexin.getuiext.activity.GetuiExtActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="android.task.myServicetask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.igexin.getuiext.service.PayloadReceiver"
            android:exported="false" >
            <intent-filter>

                <!-- 这个com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4固定，不能修改 -->
                <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
                <!-- 替换为android:name="com.igexin.sdk.action.第三方的appId" -->
                <action android:name="com.igexin.sdk.action.RyxVL19P9P69Fgs7ysDsVA" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.igexin.getuiext.service.GetuiExtService"
            android:process=":pushservice" />
        <!-- 个推download模块配置 -->
        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice" />

        <receiver android:name="com.igexin.download.DownloadReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 配置第三方Receiver -->
<!--         <receiver
            android:name="com.xinfan.blueblue.gettui.PushDemoReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.RyxVL19P9P69Fgs7ysDsVA" />
            </intent-filter>
        </receiver> -->

        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="downloads.com.xinfan.blueblue.gettui"
            android:process=":pushservice" /> <!-- 替换为downloads.第三方包名 -->
            
		<!-- ************************************************************* -->
		<!-- ************************************************************* -->
		<!-- ************************************************************* -->
		
    </application>

</manifest>