<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xinfan.blueblue.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name=".Appstart"
            android:label="@string/title_activity_main"
            android:theme="@style/Anim_style2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Viewpager"
            android:theme="@style/Anim_style2" >
        </activity>
        <activity
            android:name="Main"
            android:theme="@style/Anim_style_title" >
        </activity>
        <activity
            android:name="Exit"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <!--
        <activity
            android:name=".Appstart"
            android:label="@string/title_activity_main"
            android:theme="@style/Anim_style2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".MainWeixin"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".Login"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".Register"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".Welcome"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".Whatsnew"
            android:theme="@style/Anim_style2" />
        <!-- 忘记密码 -->
        <activity
            android:name=".ForgetPassword"
            android:theme="@style/Anim_style2" />
         <!-- 重设密码 -->
        <activity
            android:name=".UpdatePassword"
            android:theme="@style/Anim_style2" />
         <!--重设昵称-->
        <activity
            android:name=".UpdateNickname"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".ChatActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".ShakeActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".InfoXiaohei"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="ExitFromSettings"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name="InfoXiaoheiHead"
            android:theme="@style/HeadScale" />
        <activity
            android:name="LoadingActivity"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name="MainTopRightDialog"
            android:theme="@style/MyDialogStyleTop" />
        <activity
            android:name=".send.SendMessageActivity"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".send.RevSeeMessageActivity"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".send.SeeMessageActivity"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".send.TimeSelectActivity"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name=".send.MoneyInputActivity"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name=".send.AreaSelectActivity"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name=".rev.RevSeeMessageActivity"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".rev.RevReport"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".rev.RevAddContactActivity"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name="ThemeSetActivity"
            android:theme="@style/Anim_style2" />
        <activity
            android:name="ViewMessageActivity"
            android:theme="@style/Anim_style2" />
        <activity
            android:name="UserInfoActivity"
            android:theme="@style/Anim_style2" />
        <activity
            android:name="ContactInfoActivity"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".RevReport"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".SystemSet"
            android:theme="@style/Anim_style2" />
         <!--系统升级-->
        <activity
            android:name=".UpdateVersionActivity"
            android:theme="@style/MyDialogStyle" />
         <!--设置接收消息数量-->
        <activity
            android:name=".systemset.MessageNumSelectActivity"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name=".ThemeInputActivity"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".ThemeSetMenu"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name="com.xinfan.blueblue.activity.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>